include /cleanBlog/partials/mainList
include /cleanBlog/partials/sideList
doctype html
html
  head
    include /cleanBlog/partials/head
  body
    include /cleanBlog/partials/nav
    include /cleanBlog/partials/header
    .container
      .row
        +mainList(articles)
        +sideList(tags)
    include /cleanBlog/partials/footer
    include /cleanBlog/partials/js
