doctype html
html
  head
    include /cleanBlog/partials/head
  body
    include /cleanBlog/partials/nav
    include /cleanBlog/partials/header
    include /cleanBlog/partials/contentPost
    include /cleanBlog/partials/comments
    include /cleanBlog/partials/footer
    include /cleanBlog/partials/js
