hr.large
#comments
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        h3 Comments
        #comments-container
          .text-center
            button#comments-load.btn.btn-primary(data-slug=slug) Load Comments
