article
  .container
    if status === 'archived'
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          .alert.alert-warning
            | This post has been archived. It's probably out of date.
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1!= markdown(contents)
