#disclaimer.container
  .row
    .alert.alert-warning.alert-dismissable(role="alert")
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;
      strong Disclaimer
      br
      | All information on this site is offered as mere commentary, and is
      | not general nor specific advice. As such, this information should not
      | be relied upon for any decision making purposes, and you should seek
      | advice specific to your situation from a qualified professional
      | (like us?!).
#old-content.container
  .row
    .alert.alert-danger(role="alert")
      strong No longer maintained
      br
      | This post is very old, and is no longer maintained. It likely contains
      | misleading information which is no longer accurate. We are maintaining
      | this content for reference only.
